In [76]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from tools import clean_data, set_new_names, set_category
import os
import glob

In [77]:
# Ustaw ścieżkę do folderu, który chcesz przeszukać
folder_path = '..\data'

# Ustaw, czy chcesz przeszukać również podfoldery
include_subfolders = True

# Wyszukiwanie plików .csv
if include_subfolders:
    pattern = '**\*.csv'
else:
    pattern = '*.csv'

# Użyj os.path.join, aby uwzględnić ścieżkę folderu
search_pattern = os.path.join(folder_path, pattern)

In [78]:
search_pattern

'..\\data\\**\\*.csv'

In [79]:
csv_files = glob.glob(search_pattern, recursive=include_subfolders)

In [80]:
csv_files

['..\\data\\Lista_transakcji_nr_0165421859_200723.csv',
 '..\\data\\Lista_transakcji_nr_0178969007_300124.csv',
 '..\\data\\Lista_transakcji_nr_0178969233_300124.csv',
 '..\\data\\Lista_transakcji_nr_0178969327_300124.csv',
 '..\\data\\Lista_transakcji_nr_0178969442_300124.csv']

In [81]:
# Wczytaj wszystkie pliki .csv do jednego DataFrame
df = pd.concat((pd.read_csv(file, sep=';', decimal=',', encoding='windows-1250') for file in csv_files), ignore_index=True)

In [82]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16816 entries, 0 to 16815
Data columns (total 28 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Data transakcji                     16816 non-null  object
 1   Data księgowania                    667 non-null    object
 2   Dane kontrahenta                    16816 non-null  object
 3   Tytuł                               686 non-null    object
 4   Nr rachunku                         15001 non-null  object
 5   Nazwa banku                         2558 non-null   object
 6   Szczegóły                           667 non-null    object
 7   Nr transakcji                       16415 non-null  object
 8   Kwota transakcji (waluta rachunku)  16422 non-null  float64
 9   Waluta                              16422 non-null  object
 10  Kwota blokady/zwolnienie blokady    394 non-null    float64
 11  Waluta.1                            394 non-null    object
 12  Kwota płatności w walucie           8 non-null      float64
 13  Waluta.2                            189 non-null    object
 14  Unnamed: 14                         0 non-null      float64
 15  Unnamed: 15                         0 non-null      float64
 16  Unnamed: 16                         0 non-null      float64
 17  Unnamed: 17                         0 non-null      float64
 18  Unnamed: 18                         0 non-null      float64
 19  Unnamed: 19                         0 non-null      float64
 20  Unnamed: 20                         0 non-null      float64
 21  Data ksiďż˝gowania                  15748 non-null  object
 22  Tytuďż˝                             16130 non-null  object
 23  Szczegďż˝y                          15748 non-null  object
 24  Kwota pďż˝atnoďż˝ci w walucie       181 non-null    float64
 25  Konto                               16077 non-null  object
 26  Saldo po transakcji                 16130 non-null  float64
 27  Waluta.3                            16130 non-null  object
dtypes: float64(12), object(16)
memory usage: 3.6+ MB

In [83]:
# remove columns if all values are NaN
df.dropna(axis=1, how='all', inplace=True)

In [84]:
df = df[['Data transakcji',
 'Dane kontrahenta',
 'Tytuł',
 'Nr rachunku',
 'Szczegóły',
 'Nr transakcji',
 'Kwota transakcji (waluta rachunku)']]

In [85]:
df.columns = ['date', 'contractor', 'title', 'account_number', 'details', 'transaction_number', 'amount']

In [86]:
def clean_data(df):
    # Drop duplicate rows across all columns
    df = df.drop_duplicates()
    # Drop rows with missing data in columns: 'contractor', 'date' and 2 other columns
    df = df.dropna(subset=['contractor', 'date', 'transaction_number', 'amount'])
    # Drop column: 'details'
    df = df.drop(columns=['details'])
    # Drop column: 'account_number'
    df = df.drop(columns=['account_number'])
    # Remove leading and trailing whitespace in columns: 'contractor', 'title', 'transaction_number'
    df['contractor'] = df['contractor'].str.strip()
    df['title'] = df['title'].str.strip()
    df['transaction_number'] = df['transaction_number'].str.strip()
    # Replace all instances of "'" with "" in column: 'transaction_number'
    df['transaction_number'] = df['transaction_number'].str.replace("'", "", case=False, regex=False)
    # Drop column: 'title'
    df = df.drop(columns=['title'])
    # Drop duplicate rows across all columns
    df = df.drop_duplicates()
    return df

df_clean = clean_data(df.copy())

In [87]:
df_clean.head()

,date,contractor,transaction_number,amount
0,2023-07-20,Dawid Ludwa,202320197209545076,-50.00
3,2023-07-20,"ZUS Centrum Obsługi Świadczeń dla R, odzin, ul...",202320197203279992,500.00
4,2023-07-19,"LUDWA DAWID JAN, i LUDWA ANNA, EDMUNDA CIEĆKIE...",202320097202882525,1000.00
11,2023-07-18,LIDL LUKASINSKIEGO Nowy Sacz POL,202320197304224746,-56.20
12,2023-07-18,PIEKARNIA ORACZ A. ORACZ NOWY SACZ,202320197301037340,-40.57

In [88]:
# drop duplicates in column both
df_clean = df_clean.drop_duplicates(subset=['transaction_number'], keep=False)

In [89]:
df = df_clean.copy()

In [90]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8123 entries, 0 to 16811
Data columns (total 4 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   date                8123 non-null   object
 1   contractor          8123 non-null   object
 2   transaction_number  8123 non-null   object
 3   amount              8123 non-null   float64
dtypes: float64(1), object(3)
memory usage: 317.3+ KB

In [91]:
df['date'] = df['date'].astype('datetime64[ns]')

In [92]:
df = df[['date', 'contractor', 'amount']]

In [93]:
df.rename(columns={'date': 'date', 'contractor': 'details', 'amount': 'amount'}, inplace=True)

In [94]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8123 entries, 0 to 16811
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   date     8123 non-null   datetime64[ns]
 1   details  8123 non-null   object
 2   amount   8123 non-null   float64
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 253.8+ KB

In [95]:
df = set_new_names(df.copy())
df["details_2"].fillna("not set", inplace=True)
df = set_category(df.copy())

df['category'].fillna('other', inplace=True)
df['category'] = df['category'].str.lower()
df['details'] = df['details'].str.lower()
df['category'] = df['category'].astype('category')

df['y_m'] = df['date'].dt.to_period('M')
df['year'] = df['date'].dt.year
df['month'] = df['date'].dt.month

In [96]:
df.head()

,date,details,amount,details_2,category,y_m,year,month
0,2023-07-20,dawid ludwa,-50.00,not set,other,2023-07,2023,7
11,2023-07-18,lidl lukasinskiego nowy sacz pol,-56.20,lidl,grocery store,2023-07,2023,7
12,2023-07-18,piekarnia oracz a. oracz nowy sacz,-40.57,oracz,grocery store,2023-07,2023,7
13,2023-07-18,jmp s.a. biedronka 4028 nowy sacz,-9.87,biedronka,grocery store,2023-07,2023,7
14,2023-07-18,jmp s.a. biedronka 4028 nowy sacz,-57.81,biedronka,grocery store,2023-07,2023,7

In [97]:
df = df[~df['details'].str.contains('ludwa|anna|dawid|inter-bud|currency one|unikorona|katarzyna predka|ext ltd')]

In [98]:
df_expenses = df[df['amount'] < 0].copy()

In [99]:
min(df_expenses['amount']), max(df_expenses['amount'])

(-6560.0, -0.02)

In [100]:
df_expenses.sort_values(by='amount', ascending=True).head(50)

,date,details,amount,details_2,category,y_m,year,month
1061,2023-10-30,kancelaria notarialna s krakow po,-6560.00,not set,other,2023-10,2023,10
4518,2021-08-04,revolut 5883 internet lt,-3000.00,revolut,other,2021-08,2021,8
221,2023-05-31,ryanair k67e6r0 00000k67e6 irl,-2973.40,ryanair,transport vacation,2023-05,2023,5
4711,2021-07-01,jysk sp z oo pp440 nowy sacz pl,-2915.00,jysk,retail,2021-07,2021,7
7502,2020-08-28,amso krakow czarnowiejska krakow 30,-2459.02,not set,other,2020-08,2020,8
2870,2022-09-06,ryanair dublin irl,-2456.71,ryanair,transport vacation,2022-09,2022,9
2324,2023-01-10,decathlon sp. z o.o. warszawa pol,-2449.00,decathlon,other,2023-01,2023,1
985,2023-11-18,"urzďż˝d miasta krakowa wydziaďż˝ skarbu, miasta",-2438.00,not set,other,2023-11,2023,11
4486,2021-08-11,agata nowy sacz nowy sacz pl,-2425.11,not set,other,2021-08,2021,8
7370,2020-10-01,"zobacz ďż˝ycie - krystian koc, ul. staromiejsk...",-2400.00,not set,other,2020-10,2020,10
7798,2020-05-19,salon giacomo conti krakow pl,-2333.00,not set,other,2020-05,2020,5
699,2024-01-26,euro-net sp. z o.o. nowy sacz pol,-2309.98,not set,other,2024-01,2024,1
4328,2021-09-18,media markt p330 k103 nowy sacz pl,-2297.79,media markt,retail,2021-09,2021,9
5067,2021-04-22,silver fox awarchol kpo krakow pl,-2049.00,not set,other,2021-04,2021,4
2838,2022-09-11,"payu s.a., ul. grunwaldzka 186, 60-166 poznaďż˝",-2039.00,payu,financial services,2022-09,2022,9
4526,2021-07-31,revolut 5883 internet lt,-2000.00,revolut,other,2021-07,2021,7
8133,2020-01-27,"firma cukierniczo gastronomiczna gr, zeďż˝ spď...",-2000.00,not set,other,2020-01,2020,1
3233,2022-06-20,"bankomat euronet, ul.nawojowska 1, nowysacz",-2000.00,ul.nawojowska,other,2022-06,2022,6
7569,2020-08-04,revolut5883 gbr gb,-2000.00,revolut,other,2020-08,2020,8
8160,2020-01-18,"02906 1140n6626c, ul. stanislawa smolki 8, krakow",-2000.00,not set,other,2020-01,2020,1
7570,2020-08-04,revolut5883 gbr gb,-2000.00,revolut,other,2020-08,2020,8
8675,2019-09-23,aclari romuald sznytka krakow pl,-1999.00,not set,other,2019-09,2019,9
4109,2021-11-16,payuallegro poznan pl,-1999.00,payu,net,2021-11,2021,11
7398,2020-09-23,wwwoponeopl bydogoszcz pl,-1880.00,not set,other,2020-09,2020,9
4698,2021-07-03,meble black red whi nowy sacz pl,-1868.00,not set,other,2021-07,2021,7
4981,2021-05-10,ogrodosferapl warszawa pl,-1849.00,not set,other,2021-05,2021,5
4081,2021-11-23,kubus nowy sacz pl,-1799.00,not set,other,2021-11,2021,11
7703,2020-06-24,"polo group thomas leach, ul.garncarska 8/4, 31...",-1700.00,not set,other,2020-06,2020,6
8493,2019-10-31,"allegro.pl sp. z o.o., ul. grunwaldzka 182, po...",-1679.00,allegro,net,2019-10,2019,10
5234,2021-03-14,"zakďż˝ad pogrzebowy archanioďż˝ sp z, o.o. ul....",-1652.40,not set,other,2021-03,2021,3
2633,2022-10-26,"c.escorpiones,2 (c.c.) torrevieja",-1648.15,not set,other,2022-10,2022,10
8876,2019-07-29,hotel on booking.com stel amsterdam,-1641.88,not set,other,2019-07,2019,7
1228,2023-09-27,car rental on ryanair 441618366700,-1637.72,ryanair,transport vacation,2023-09,2023,9
838,2023-12-21,max-fliz sp. z o.o.,-1600.00,not set,other,2023-12,2023,12
3821,2022-01-22,kubus nowy sacz pl,-1549.00,not set,other,2022-01,2022,1
5089,2021-04-15,payuallegro poznan pl,-1549.00,payu,net,2021-04,2021,4
4507,2021-08-07,agata nowy sacz nowy sacz pl,-1510.89,not set,other,2021-08,2021,8
3249,2022-06-17,"bankomat euronet, ul. lesna 14, tarnow",-1500.00,not set,other,2022-06,2022,6
1207,2023-09-28,clickrent.es torrellano esp,-1498.49,not set,other,2023-09,2023,9
3691,2022-02-24,paypro s.a.,-1439.73,paypro,financial services,2022-02,2022,2
2902,2022-08-30,"n.trade sp. z o.o. sp.k. ul., stďż˝piďż˝ska 22...",-1429.00,not set,other,2022-08,2022,8
3211,2022-06-23,allegro poznan pl,-1420.00,allegro,net,2022-06,2022,6
2841,2022-09-11,"payu s.a., ul. grunwaldzka 186, 60-166 poznaďż˝",-1369.00,payu,financial services,2022-09,2022,9
4208,2021-10-18,agata nowy sacz nowy sacz pl,-1342.20,not set,other,2021-10,2021,10
5092,2021-04-15,dp empikcom warszawa pl,-1299.00,empik,retail,2021-04,2021,4
276,2023-05-19,euro-net sp. z o.o. nowy sacz pol,-1288.99,not set,other,2023-05,2023,5
4850,2021-06-08,ryanair dublin ie,-1240.17,ryanair,transport vacation,2021-06,2021,6
292,2023-05-15,"paypro s.a., pastelowa 8, poznan",-1215.35,paypro,financial services,2023-05,2023,5
15215,2018-11-21,"ing bank ďż˝lďż˝ski s.a., oddzial ing, krakow",-1200.00,ing,financial services,2018-11,2018,11
924,2023-12-03,"paypro s.a., pastelowa 8, poznan",-1198.00,paypro,financial services,2023-12,2023,12